<template name="gamesShow">
    <div class="page games-show">
        <div class="content-scrollable players-items">
            {{#if playerListReady}}
                {{#if hasOneOrMorePlayers}}
                    <div>asasassasa</div>
                {{/if}}
                {{#each players}}
                    {{> player}}
                {{else}}
                    <div class="wrapper-message">
                        <div class="title-message">No players yet......</div>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#playersCollapse" aria-expanded="false" aria-controls="playersCollapse">Add the first player</a>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#playersCollapse" aria-expanded="false" aria-controls="playersCollapse">
                            Button with data-target
                        </button>

                        {{> playerCollapseArea}}
                    </div>
                {{/each}}
            {{else}}
                <div class="wrapper-message">
                    {{> spinner}}
                </div>
            {{/if}}
        </div>
    </div>
</template>