<template name="gamesShow">
    <div class="page games-show">
        <div class="content-scrollable players-items">
            {{#if playerListReady}}
                {{#if hasOneOrMorePlayers}}
                    {{#each players}}
                        {{> player}}
                    {{/each}}
                {{else}}
                    <div class="wrapper-message">
                        <div class="title-message">No players yet......</div>
                        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#playersCollapse" aria-expanded="false" aria-controls="playersCollapse">Add the first player</a>
                        {{> playerCollapseArea}}
                    </div>
                {{/if}}

            {{else}}
                <div class="wrapper-message">
                    {{> spinner}}
                </div>
            {{/if}}
        </div>
    </div>
</template>