<template name="gamesShow">
    <div class="page games-show">
        <div class="content-scrollable players-items">
            {{#if playerListReady}}
                {{#each players}}
                    {{> player}}
                {{else}}
                    <div class="wrapper-message">
                        <div class="title-message">No players here</div>
                    </div>
                {{/each}}
            {{else}}
                <div class="wrapper-message">
                    {{> spinner}}
                </div>
            {{/if}}
        </div>
    </div>
</template>