<template name="join">
    <div class="page auth">
        <div class="content-scrollable">
            <div class="wrapper-auth">
                <h1 class="title-auth">Join.</h1>
                <form>
                    <div class="form-group">
                        <label for="playerName">Name</label>
                        <input type="text" class="form-control" id="playerName" placeholder="Name">
                    </div>

                    <div class="input-symbol">
                        <input type="email" name="email" placeholder="Your Email" />
                        <span class="icon-email" title="Your Email"></span>
                    </div>

                    <div class="form-group">
                        <label for="avatarInputFile">Avatar upload</label>
                        <input type="file" id="avatarInputFile">
                    </div>
                    <button type="submit" class="btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>