<template name="join">
    <div class="page auth">
        <div class="content-scrollable">
            <div class="wrapper-auth">
                <h1 class="title-auth">Join</h1>
                <form>
                    <div class="input-symbol">
                        <input type="text" name="name" placeholder="Your Name" />
                        <span class="icon-email" title="Your Name"></span>
                    </div>

                    <div class="input-noSymbol">
                        <input type="file" id="avatarInputFile">
                    </div>

                    <button type="submit" class="btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>