<template name="playerCollapseArea">
    <div class="collapse" id="playersCollapse">
        <div class="row">
        {{#each allPlayers}}
            {{#if avatar}}
                <div class="col-md-2">
                    <a href="#" class="thumbnail" data-id="{{_id}}" data-playerName="{{name}}">
                        <img src="{{avatatImage.url}}" alt="{{name}}" class="img-responsive img-circle">
                    </a>
                </div>
            {{/if}}
        {{/each}}
        </div>
    </div>
</template>